@model APILab.eCommerce.Models.Inventory

@{
    ViewBag.Title = "Order";
}

<h2>Order</h2>


@using (Html.BeginForm(new { ID = ViewData["Id"] }))
{
    @Html.LabelFor(model => model.Quantity)
    @Html.EditorFor(model => model.Quantity)

    <button type="submit">Order</button>
}
